<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 50%;
            margin: auto;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Heart Failure Detection</h1>
    <hr>
    <form action="user">
        <div class='container'
        style="background-color: aquamarine;">
        age =<input type="number" name='age'><br><br>
        anaemia = <input type="number" name='anaemia'><br><br>
        creatinine_phosphokinase = <input type="number" name='creatinine_phosphokinase'><br><br>
        diabetes= <input type="number" name='diabetes'><br><br>
        ejection_fraction = <input type="number" name='ejection_fraction'><br><br>
        high_blood_pressure = <input type="number" name='high_blood_pressure'><br><br>
        platelets = <input type="number" name='platelets'><br><br>
        serum_creatinine= <input type="number" name='serum_creatinine'><br><br>
        serum_sodium=<input type="number" name='serum_sodium'><br><br>
        sex	=<input type="number" name='sex'><br><br>
        smoking=<input type="number" name='smoking'><br><br>
        time=<input type="number" name='time'><br><br>
        <input type="submit" class ='container'>
        </div>
    </form>
</body>
</html>